<%= form_tag songs_upload_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import Songs" %>
<% end %>


<ul>
<% @songs.each do |song| %>

  <li>
    <% if song.artist_id.nil? %>

      <%= link_to "Add Artist", edit_song_path(song) %>
    <% else %>
      <%= link_to song.artist_name, artist_path(song.artist) %>
    <% end %>
   - <%= link_to song.title, song_path(song) %>
 </li>
<% end %>
</ul>
<br>
<%= link_to "Add New Song", new_song_path %>
